// Import page-specific CSS files here.

// Welcome title with dog name
.show-dog-title {
  text-align: center;
  background-color: #f5dac3;
  height: 80px;
  padding-top: 15px;
}
.dog-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
