$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;

// Import page-specific CSS files here.

// Welcome title with dog name
.show-dog-title {
  text-align: center;
  color: #f88151;
  height: 80px;
  padding-top: 30px;
  margin-top: 1rem;
}

div.show-dog-card.row {
  margin-top: 2rem;
}

.dog-img {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  img {
  display: block;
  border-radius: 1rem;
  width: 30vw;
  }
}

.body-footer {
  padding: 50px 10px 30px 10px;
  background-color: $eggplant;
  border-radius: 1rem;
}

.body {
  margin-left: 50px;
  .show-dog-description {
    text-transform: capitalize;
  }
}

.footer-dogshowpage {
  margin: 50px;
  display: flex;
  gap: 5rem;
}
