// Import page-specific CSS files here.

// Welcome title with dog name
.show-dog-title {
  text-align: center;
  color: #f88151;
  height: 80px;
  padding-top: 30px;
}
.dog-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.body-footer {
  padding: 50px 10px 30px 10px;
}

.body {
  margin-left: 50px;
  .show-dog-description {
    text-transform: capitalize;
  }
}

.footer-dogshowpage {
  margin-left: 50px;
}
