<h1>Rentals</h1>

<ul>
<% @rentals.each do |rental|%>
<li >Rental status<%= rental.status %></li>
<%# <li id="list-link"><%= link_to rental.id, rental_path(rental) %></li>
<% end %>
</ul>

<%= dog_rental= link_to "Create a rental", new_dog_rental_path, class: "btn btn-primary" %>
