$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;

body {
  background:$blue;
}

div.container.mx-auto {
  display: flex;
  justify-content: center;
}

div.textbox.row.justify-content-center {
  background-color: #ffffff63;
  width: 100%;
  border-radius: .5rem;
  margin-top: 1rem;
}

h1#search {
  margin: 3rem 0 0;
  display: flex;
  justify-content: center;
  color: $yellow;
}
