$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;
$orange: #f88151;

// nav button
a.nav-link-auth {
  text-decoration: none;
  color: $eggplant;
}

// this button is for dashboard button which will accept the request pending
.button-positive {
  width: 100%;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid $salmon;
  font-weight: 500;
  background: transparent;
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 4px;
  height: 36px;
  transition: all 80ms linear;
  color: $salmon;
  text-align: center;
}

.button-back-container {
  display: flex;
  justify-content: center;
}
.button-positive:hover {
  background: #ffffff38;
  transition: 300ms ease-in-out;
  border: 1px solid #ff7700;
  color: #ff7700;
  text-decoration: none;
}

.button-negative{
  width: 100%;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid #008a85;
  font-weight: 500;
  background: transparent;
  padding: 8px;
  font-size: 15px;
  border-radius: 4px;
  height: 36px;
  transition: all 80ms linear;
  color: #008a85;
  text-align: center;
}

.button-negative:hover {
  background: #ffffff38;
  color: #01cec7;
  border: 1px solid #01cec7;
  transition: 300ms ease-in-out;
  text-decoration: none;
}


.dogs-card {
  border: #33170c;
  background-color: $salmon;
  border-radius: 8px;
  margin: 12px;
  align-items: center;

  p{
    margin: 4px;
  }
}

.card-footer {
  background-color:  #F8FBE4;
  align-items: center;
  position: relative;
  bottom: 2%;
  border-radius: .5rem;
}

.dashboard-heading{
  font-size: 24px;
  color: #000000;

}
.dog-name {
  color: $eggplant;
  font-size: 24px;
  text-align: center;
}

#dog-breed {
  color: $orange;
}

.dashboard-heading.dog-name {
  color: $eggplant;
}

#dog-name {
  color: $orange;
}

#topic {
  color: rgb(117, 230, 194);
}

.add-btn-wrap {
  display: flex;
  justify-content: center;
}

.button-addlist {
  text-decoration: none;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 1px solid #C98671;
  font-weight: 500;
  background: transparent;
  padding: 8px 12px;
  font-size: 15px;
  border-radius: 4px;
  height: 36px;
  transition: all 80ms linear;
  color: #C98671;
  text-align: center;
  &:hover {
  background: #ffffff38;
  transition: 100ms ease-in-out;
  border: 1px solid #ff7700;
  color: #ff7700;
  text-decoration: none;
  }
}

div.button-container {
  display: flex;
}

#status {
  color: #cfa12d;
}
