$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;

// CARDS OF DOGS SECTION
.cards-title {
  text-align: center;
  color: $eggplant;
  height: 65px;
  padding-top: 10px;
}

.card-container-dog {
  background-size: cover;
  background-position: center;
  padding-top: 25px;
  .card {
    margin-bottom: 24px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-color: $salmon;
  }
  .card-img-top img {
    width: 100%;
  }
  .mask {
    position: absolute;
    top: 0;
    background-color: rgba(212, 212, 212, 0.5);
    padding-left: 8px;
    padding-top: 4px;
    border-bottom-right-radius: .5rem;
  }

  .dog-details {
    text-transform: capitalize;
  }

  .card-body {
    padding: 9px;
  }

  .dog-short-info {
    margin-bottom: 2px;
    color: $yellow;
  }

  .card-dog-description {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(95% - 10px);
    text-transform: capitalize;
  }
}

.dogs-main-card:hover {
  border: 2px solid rgb(255, 245, 183) ;
  transition: all 100ms ease-in-out;
}

// THANK YOU SECTION
.search-bar {
  padding: 20px;
}

.thank-you {
  padding: 50px;
    display: flex;
    margin: 1rem 1rem;
    flex-direction: column;
    align-items: center;
  p {
    color: #d3a42d;
    text-align: center;
  }
}

#members {
  text-align: center;
}

.thankyou-container {
  background-color: #faf8f5;
  display: flex;
  border-radius: 10px;
  margin: 6rem;
  justify-content: center;
}

.dog-pic {
  width: 17vw;
  height: 100%;
  border-radius: 0.5rem;
}

.cuddlerdog {
  color: $eggplant;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 60s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		// width: calc(250px * 14);
	}

	.slide {
		height: 100px;
		width: 250px;
    margin-left: 1rem;
	}
}

// dashboard
.card-container {
  margin: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

div.dashboard-rental-request-container {
  background-color: #f5f5dcb0;
  border-radius: .5rem;
  display: flex;
  border: 2px solid white;
  margin: 2rem;
  flex-wrap: wrap;
  align-items: center
}
