$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;
$orange: #f88151;

/* CONTACT ME */
.contact {
  padding-bottom: 0;
}

.contact_container {
  margin-top: 5rem;
}

.contact_mail {
  background-color: $eggplant;
  padding: 1rem 4.5rem 4.5rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

section#contact.contact_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_me {
  color: white;
}

.contact_title {
  color: $orange;
  text-align: center;
  margin-bottom: 2rem;
}

label {
  color: white;
}

.contact_form, .contact_group {
  display: grid;
  row-gap: 1.2rem;
}

.contact_form {
  position: relative;
}

.contact_box {
  position: relative;
  width: 100%;
  height: 58px;
}

.contact_input {
  position: absolute;
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: .5rem 1rem;
  font-weight:700;
  transition: border .4s, background-color .4s;
}

textarea#message.contact_input {
  height: 5rem;
}

button.contact_btn {
  margin-top: 2rem;
  height: 2.5rem;
  background-color: $salmon;
  border: none;
  border-radius: .5rem;
  color: $yellow;
  &:hover {
    transition: 200ms ease-in-out;
    background-color: rgb(252, 155, 122);
    color: rgb(255, 232, 142);
  }
}

div.contact_social {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.contact_input::placeholder {
  color: white;
  transition: opacity .4s;
}

.contact_input:focus {
  border: 3px solid white;
}

.contact_input:-webkit-autofill {
  transition: background-color 6000s, color 6000s;
}

.contact_label {
  position: absolute;
  top: -16px;
  left: 10px;
  color: white;
  font-size: .7rem;
  font-weight: 300;
  background-color: black;
  padding: 8px;
  pointer-events: none;
  transition: top .4s, opacity .4s, background-color .4s;
  opacity: 0;
}

.contact_area textarea {
  resize: none;
  padding-top: 1rem;
}
