$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;
// rental form
.form-wrap {
  border-radius: 10px;
}

.form-control {
  color: #F88151;
}

input {
  color:#F88151;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #F88151;
}

label {
  color: $eggplant;
}

label.form-label.string.optional {
  color: #F88151;
}

.dash-header {
  color: #874D62;
}
// dog-list form
h2.dashboard-heading {
  color: #d06c45;
  margin: 1rem;
}

label.form-label.string.required {
  color: #F88151;
}

label.form-label.integer.optional {
  color: #F88151;
}

label.form-label.file.optional {
  color: #F88151;
}

input#dog_photo.form-control.file.optional {
  color: #F88151;
}

.form-group input {
  border-radius: .5rem;
}
