$blue: #A7D1CC; // background
$yellow: #F1D489;
$salmon: #C98671;
$eggplant: #874D62;


.navbar-lewagon {
  justify-content: space-between;
  background: $salmon;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 110px;
  position: absolute;
  left: 30px;
  top: 20px;
  transition: 200ms ease-in-out;
}

.navbar-light .navbar-nav .nav-link {
  color: $yellow;
  &:hover {
    color: #585858;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
    background-color: #eff9a8db;
    border-radius: 5px;
  }
}

ul.nav.navbar-nav.d-flex.justify-content-between.w-70{
  gap: 150px;
}

#navbarSupportedContent {
  position: relative;
  right: 56px;
}

ul.nav.navbar-nav {
  position: relative;
  gap: 8rem;
}

div.dropdown-menu.dropdown-menu-end {
  left: -52px;
  background: #F8FBE4;
  border-radius: 6px;
  border: 2px solid white;
    a {
      color: #8D8C8A;
      text-align: center;
    }
    &:hover {
      transition: 200ms ease-in-out;
      text-shadow: 3px 3px 5px rgb(255, 250, 238);
      background-color: #eff9a8db;
    }
    a:hover {
      color: #bbbab9;
      text-shadow: 2px 2px 3px rgb(255, 250, 238);
      background-color: #eff9a8db;
    }
 }
