.navbar-lewagon {
  justify-content: space-between;
  background: #FDECDC;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// < BANNER OVERLAY >
// *{padding: 0; margin: 0; box-sizing: border-box;}
// body{height: 900px;}
// header {
// 	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1680718349498-17ff857c7971?q=80&w=2671&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
// 	text-align: center;
// 	width: 100%;
// 	height: auto;
// 	background-size: cover;
// 	background-attachment: fixed;
// 	position: relative;
// 	overflow: hidden;
// 	border-radius: 0 0 85% 85% / 30%;
// }

// header .overlay{
// 	width: 100%;
// 	height: 40vh;
// 	padding: 50px;
// 	color: #FFF;
// 	text-shadow: 1px 1px 1px #333;
//   background-image: linear-gradient(135deg, #9f05ff40 10%, #9e08fd42 100%);

// }

// div.overlay {
//   background-position: center;
//   background-size: cover;
// }
